<%- include("includes/header1.ejs") %>

<link rel="stylesheet" href="/css/cart.css">

<h1>Your Shopping Cart</h1>
<hr>

<% if (cart && cart.items.length > 0) { %>
  <ul>                                           
    <% cart.items.forEach(item => { %>
      <li>
        <h2><%= item.product.title %></h2>
        <p>Price: $<%= item.product.price %></p>
        <h7 class="quantity">
          Quantity:
            <button class="decrement" data-product-id="<%= item.product._id %>"><b>-</b></button>
            <span><%= item.quantity %></span>
            <button class="increment" data-product-id="<%= item.product._id %>"><b>+</b></button>   
        </h7>
        <p>Total: $<%= item.product.price * item.quantity %></p>
      </li>
    <% }) %>
  </ul>
  <p><strong>Grand Total: $<%= cart.items.reduce((total, item) => total + item.product.price * item.quantity, 0) %></strong></p>
<% } else { %>
  <p>Your cart is empty!</p>
<% } %>

  <script src="/js/index.js"></script> 
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>